@model IEnumerable<WebApplicationBiblioteca.Models.Cliente>
@{
    ViewBag.Title = "Index";
}

<h2>Clientes Da Biblioteca</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
           
        </tr>
    }
</table>