@model IEnumerable<WebApplicationBiblioteca.Models.Autor>
@{
    ViewBag.Title = "Autores";
}
<h2 style="color:aliceblue" >Autores Cadastrados Na  Biblioteca</h2>


<table class="table" style="color:aliceblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th style="color:#ffffff;">
            Opções
            
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>

                @Html.ActionLink("Excluir", "Delete", new { id = item.AutorId }, new { @class = "btn btn-success" })              
            </td>
        </tr>

    }
</table>

<div>

    @Html.ActionLink("Voltar", "Create", new { id = 1 }, new { @class = "btn btn-success" })
</div>